@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    .div_teste {
        width: 290px;
        height: 300px;
        background: white;
        position: absolute;
        z-index: 100;
        bottom: 20%;
        left: 35%;
        margin-left: auto; /* metade do tamanho (negativo) */
        margin-right: auto;
        /* border-top: 2px solid #0de005; */
        border-radius: 3px;
        background: #fffcfc;
        box-shadow: 2px 2px 2px 2px #888888;
        display: none;
    }
</style>

<!-- Revolution Slider -->
<div class="g-overflow-hidden" id="home">
    <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_26_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE APP UNI -->
                <li data-index="rs-72" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-banners/banner-dois.png" style="width:100%; height:100vh">
                    <!-- LAYERS -->
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['780','780','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme" id="slide-74-layer-2" data-x="['left','left','center','center']" data-hoffset="['360','240','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['right','right','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white; z-index: 8">Plano</span>  <span style="color:white; font-family:'Nunito'; z-index: 8"> Controle</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-75-layer-2" data-x="['left','left','center','center']" data-hoffset="['620','620','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'; color:white">R$ </span> <span style="color:white; font-family:'Nunito'">49,99 |</span><span style="font-family:'Nunito'; color:white"> 5</span><span style="font-size:12pt; font-family:'Nunito'; color:white"> Gb <br /></span>
                    </div>

                </li>
                <!-- SLIDE PLANO 5GB -->
                <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-banners/banner-um.png" style="width:100%; height:100vh">
                    <!-- LAYERS -->
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['170','120','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#077ed4","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white">Plano</span>   <span style="color:#077ed4; font-family:'Nunito'"> Controle</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','580']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'">R$ </span> <span style="color:#077ed4; font-family:'Nunito'">59,99 |</span><span> 10</span><span style="font-size:12pt; font-family:'Nunito'"> Gb <br /></span>
                    </div>

                </li>
                <!-- SLIDE PLANO 10GB -->
                <li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-banners/banner-tres.png" style="width:100%; height:100vh">
                    <!-- LAYERS -->
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['780','780','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme" id="slide-74-layer-2" data-x="['left','left','center','center']" data-hoffset="['360','240','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['right','right','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white; z-index: 8">Plano</span>  <span style="color:#077ed4; font-family:'Nunito'; z-index: 8"> Controle</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-75-layer-2" data-x="['left','left','center','center']" data-hoffset="['620','620','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'; color:white">R$ </span> <span style="color:#077ed4; font-family:'Nunito'">79,99 |</span><span style="font-family:'Nunito'; color:white">20</span><span style="font-size:12pt; font-family:'Nunito'; color:white"> Gb <br /></span>
                    </div>
                </li>
                <!-- SLIDE PLANO 15GB
                <li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE
                    <img src="~/assets/img-temp/1920x1080/BannerN04.png" data-bgcolor='linear-gradient(90deg, rgba(0, 0, 153, 0.5) 0%, rgba(0, 190, 214, 0.6) 100%)' style='background:linear-gradient(90deg, rgba(0, 0, 153, 0.5) 0%, rgba(0, 190, 214, 0.6) 100%)' alt="" data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                <!-- LAYER NR. 5
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-74-layer-1" data-x="['center','center','center','center']" data-hoffset="['-400','-400','-210','-96']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-30','-30','-30','-30']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#243949","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 2;">
                        <img src="~/assets/img-temp/1920x1080/modelo02.png" alt="" data-ww="['793px','793px','793px','793px']" data-hh="['777px','777px','777px','777px']" width="1200" height="675" data-no-retina>
                    </div>
                    <!-- LAYER NR. 6
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['780','780','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>
                    <!-- LAYER NR. 7 --
                    <div class="tp-caption tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['730','730','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" data-fontsize="['40','40','40','40']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white">Plano Controle</span>
                    </div>
                    <!-- LAYER NR. 8 --
                    <div class="tp-caption   tp-resizeme" id="slide-74-layer-2" data-x="['left','left','center','center']" data-hoffset="['360','240','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['right','right','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white; z-index: 8">SIM4U</span>  <span style="color:#fbcb12; font-family:'Nunito'; z-index: 8"> BRASIL</span>
                    </div>
                    <!-- LAYER NR. 4 --
                    <div class="tp-caption   tp-resizeme" id="slide-75-layer-2" data-x="['left','left','center','center']" data-hoffset="['620','620','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'; color:white">R$ </span> <span style="color:#fbcb12; font-family:'Nunito'">79,90 |</span><span style="font-family:'Nunito'; color:white"> 15</span><span style="font-size:12pt; font-family:'Nunito'; color:white"> Gb <br /></span>
                    </div>
                </li> -->
                <!-- SLIDE PLANO 20GB --
                <li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE --
                    <img src="~/assets/img-banners/banner-quatro.png" style="width:100%; height:100vh">
                    <!-- LAYERS -->
                <!-- LAYER NR. 5--
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['170','120','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#077ed4","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>

                    <!-- LAYER NR. 4 --
                    <div class="tp-caption tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white">Plano</span>   <span style="color:#E83B04; font-family:'Nunito'"> Controle</span>
                    </div>
                    <!-- LAYER NR. 4 --
                    <div class="tp-caption   tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','580']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'">R$ </span> <span style="color:#E83B04; font-family:'Nunito'">89,90 |</span><span> 20</span><span style="font-size:12pt; font-family:'Nunito'"> Gb <br /></span>
                    </div>

                </li>
                <li data-index="rs-76" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE --
                    <img src="~/assets/img-banners/banner-cinco.png" style="width:100%; height:100vh">
                    <!-- LAYERS --
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['170','120','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#077ed4","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>

                    <!-- LAYER NR. 4 --
                    <div class="tp-caption tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white">Plano</span>   <span style="color:#E83B04; font-family:'Nunito'"> Controle</span>
                    </div>
                    <!-- LAYER NR. 4 --
                    <div class="tp-caption   tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['150','100','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','580']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#E83B04","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'">R$ </span> <span style="color:#E83B04; font-family:'Nunito'">119,90 |</span><span> 50</span><span style="font-size:12pt; font-family:'Nunito'"> Gb <br /></span>
                    </div>
                </li>
                <!-- SLIDE PLANO 50GB --
                <li data-index="rs-77" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE --
                    <img src="~/assets/img-temp/1920x1080/Bannerplano50gb.png" data-bgcolor='linear-gradient(90deg, rgba(0, 0, 153, 0.5) 0%, rgba(0, 190, 214, 0.6) 100%)' style='background:linear-gradient(90deg, rgba(0, 0, 153, 0.5) 0%, rgba(0, 190, 214, 0.6) 100%)' alt="" data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS --
                    <div class="tp-caption tp-resizeme" id="slide-74-layer-4" data-x="['left','left','center','center']" data-hoffset="['780','780','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" data-width="['290','290','290','380']"
                         data-height="none" data-whitespace="normal" data-type="button" data-responsive_offset="on" data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;">

                        <a class="btn text-uppercase g-bg-transparent border color-white g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="font-family:'Nunito'; z-index: 7" href="#services">Solicite Já</a>
                    </div>
                    <!-- LAYER NR. 7 --
                    <div class="tp-caption tp-resizeme" id="slide-73-layer-2" data-x="['left','left','center','center']" data-hoffset="['730','730','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" data-fontsize="['40','40','40','40']"
                         data-lineheight="['70','70','70','50']" data-width="['750','750','720','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white">Plano Controle</span>
                    </div>
                    <!-- LAYER NR. 8 --
                    <div class="tp-caption   tp-resizeme" id="slide-74-layer-2" data-x="['left','left','center','center']" data-hoffset="['360','240','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['50','50','50','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['right','right','center','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-family:'Nunito'; color:white; z-index: 8">SIM4U</span>  <span style="color:#fbcb12; font-family:'Nunito'; z-index: 8"> BRASIL</span>
                    </div>
                    <!-- LAYER NR. 4 --
                    <div class="tp-caption   tp-resizeme" id="slide-75-layer-2" data-x="['left','left','center','center']" data-hoffset="['620','620','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" data-fontsize="['70','70','70','50']"
                         data-lineheight="['70','70','70','50']" data-width="['650','650','620','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['left','left','center','center']" data-paddingtop="[190,190,190,190]" data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[20,20,20,20]" style="z-index: 8; min-width: 650px; max-width: 650px; white-space: normal; font-size: 70px; font-weight: 600; line-height: 70px; color: #ffffff; letter-spacing: -2px;">
                        <span style="font-size:12pt; font-family:'Nunito'; color:white">R$ </span> <span style="color:#fbcb12; font-family:'Nunito'">119,90 |</span><span style="font-family:'Nunito'; color:white"> 50</span><span style="font-size:12pt; font-family:'Nunito'; color:white"> Gb <br /></span>
                    </div>
                </li>-->
            </ul>
            <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>
        </div>
    </div>
</div>
<!-- End Revolution Slider -->
<!-- About -->

<section id="sobre">
    <div class="container g-py-100">
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-3 g-mb-30">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
                    <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
                        <span class="u-icon-v4-inner">
                            <i class="icon-communication-002 u-line-icon-pro"></i>
                        </span>
                    </span>
                    <h3 class="h5 g-color-black mb-3" style="font-family:'Nunito'">Pacote de Dados</h3>
                    <p class="g-color-gray-dark-v4">
                        Pacote de Dados com franquia em 4g e dados ilimitados em baixa velocidade!
                    </p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-3 g-mb-30">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
                    <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
                        <span class="u-icon-v4-inner">
                            <i class="flaticon-app"></i>
                        </span>
                    </span>
                    <h3 class="h5 g-color-black mb-3" style="font-family:'Nunito'">100% Digital</h3>
                    <p class="g-color-gray-dark-v4">
                        Tenha todo o controle do seu plano através de nosso app exclusivo!
                    </p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-3 g-mb-30">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
                    <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
                        <span class="u-icon-v4-inner">
                            <i class="flaticon-brazil"></i>
                        </span>
                    </span>
                    <h3 class="h5 g-color-black mb-3" style="font-family:'Nunito'">Ligações Ilimitadas</h3>
                    <p class="g-color-gray-dark-v4">Ligue para todo o Brasil, sem custos adicionais em seu plano!</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-lg-3 g-mb-30">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
                    <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
                        <span class="u-icon-v4-inner">
                            <i class="flaticon-bank"></i>
                        </span>
                    </span>
                    <h3 class="h5 g-color-black mb-3" style="font-family:'Nunito'">Planos Controle</h3>
                    <p class="g-color-gray-dark-v4">Economia garantida, sem surpresas no fim do mês e o que é melhor...Sem Permanência!</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- Section Content -->
<section id="services" class="row no-gutters">

    <div class="container">
        <div class="row">
            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">3 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-um.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 39,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align:left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>
                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Sem permanência</p>
                        <!--<a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 20Gb ')" style="font-family:'Nunito'">Solicite Já</a> -->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=1 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">5 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-dois.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 49,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align:left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>
                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Totalmente digital</p>
                        <!-- <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 10Gb ')" style="font-family:'Nunito'">Solicite Já</a>-->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=2 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">10 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-tres.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 59,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align:left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>
                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Sem burocracia</p>
                        <!-- <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 15Gb ')" style="font-family:'Nunito'">Solicite Já</a> -->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=3 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">15 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-tres.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 69,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align:left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>
                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Sem burocracia</p>
                        <!-- <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 15Gb ')" style="font-family:'Nunito'">Solicite Já</a> -->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=3 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">20 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-quatro.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 79,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align: left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>
                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Sem permanência</p>
                        <!--<a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 20Gb ')" style="font-family:'Nunito'">Solicite Já</a> -->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=4 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
            <div class="col-md-4 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5">
                    <!-- Article Header -->
                    <header class="g-color-white-opacity-0_7 g-pa-20" style="background-color:#FA3105">
                        <h3 class="g-color-white g-mb-5" style="font-family:'Nunito'">50 Gb</h3>
                        <em class="g-font-style-normal" style="font-family:'Nunito'">Plano Controle</em>
                    </header>
                    <!-- End Article Header -->
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/img-banners/banners-planos-cinco.png" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-40">
                        <div class="g-mb-10">
                            Apenas <strong class="d-block g-font-size-24 g-mt-5" style="font-family:'Nunito'; color:#FA3105">R$ 119,99</strong>
                        </div>
                        <ul class="u-list-inline" style="text-align:left">
                            <li><i class="fa fa-plus"></i> Internet sem cortes;</li>
                            <li><i class="fa fa-plus"></i> Ligações ilimitadas para todo o brasil;</li>
                            <li><i class="fa fa-plus"></i> sms ilimitado</li>

                        </ul>
                        <hr />
                        <p style="font-size:12pt; font-weight:bold; text-align:center">Sem permanência</p>
                        <!-- <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" href="#!" onclick="planoSolicitar('Plano Controle | 50Gb ')" style="font-family:'Nunito'">Solicite Já</a>-->
                        <a class="btn text-uppercase g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30" style="background-color:#FA3105; color:white" href="@Url.Action("Assinatura", "Home", new { plano=5 })" target="_blank" style="font-family:'Nunito'">Contrate Já</a>

                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

        </div>
    </div>

</section>
<!-- End Section Content -->
<!-- Call To Action -->
<section class="g-color-white g-pa-30" style="background-color:#FA3105">
    <div class="row">
        <div class="col-md-6">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md g-color-white" style="font-family:'Nunito'"><i class="fa fa-question-circle"></i> Suporte Técnico.</p>
                </div>
                <div class="align-self-md-center">
                    <a class="" href="https://api.whatsapp.com/send?1=pt_BR&phone=5511947644384" style="font-family:'Nunito'; color:white; font-size:20px; font-weight:bold" target="_blank">
                        <!-- <img src="~/assets/img/WhatsApp-icone.png" style="width:30px" />-->  +55(11)3892-1075
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md g-color-white" style="font-family:'Nunito'"><i class="fa fa-comments"></i> Atendimento Comercial.</p>
                </div>
                <div class="align-self-md-center">
                    <a class="" href="https://api.whatsapp.com/send?1=pt_BR&phone=5511947644384" style="font-family:'Nunito'; color:white; font-size:20px; font-weight:bold" target="_blank">
                        <!-- <img src="~/assets/img/WhatsApp-icone.png" style="width:30px" />--> +55(11)3892-1075
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Call To Action -->
<!-- Promo Block
<section class="g-bg-img-hero" style="background-image: url(../../assets/img-temp/1920x1080/linkPrincfundo.jpg);">
    <div class="container-fluid" style="">
        <!--
        <h1 class="g-color-white" style="text-align:center; font-family:Arial; padding-top:5%; font-family:'Nunito'">Nós viajamos com você!</h1>
        <div class="row">
            <div class="col-md-6" style="padding-left:10%">
                <img src="~/assets/img-temp/1920x1080/simcards.png" class="g-bg-img-hero" />
            </div>
            <div class="col-md-6" style="padding-right:10%; padding-top:5%">
                <h2 class="g-color-white" style="text-align:center">
                    <a href="https://www.uniglobaltelecom.com" class="g-color-white" target="_blank" style="font-family:'Nunito'">Conheça os planos <br /> Internacionais! <i class="fa fa-arrow-right"></i></a>

                </h2>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center">
                    <a href="https://www.uniglobaltelecom.com" target="_blank"><img src="~/assets/img/logo/logo.png" style="width:250px" /></a>
                </p>

            </div>
        </div>-
    </div>
</section>-->
<!-- End Promo Block -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Solicite Já!</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="soliciteJa">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-10">*Nome <span style="color:red; font-size:9pt" id="msgNome"></span></label>
                            <input id="txtNome" name="nome1" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*CPF <span style="color:red; font-size:9pt" id="msgCPF"></span></label>
                            <input id="txtCPF" name="cpf1" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*E-mail <span style="color:red; font-size:9pt" id="msgEmail"></span></label>
                            <input id="txtEmail" name="email1" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Fone <span style="color:red; font-size:9pt" id="msgFone"></span></label>
                            <input id="txtFone" name="telefone1" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*CEP <span style="color:red; font-size:9pt" id="msgCEP"></span></label>
                            <div class="input-group">
                                <input id="txtCEP" name="cep1" class="form-control u-form-control-lg" type="text" placeholder="Preencha com o CEP e click na lupa..." />
                                <button type="button" class="btn btn-primary" onclick="consultaCEP()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Bairro <span style="color:red; font-size:9pt" id="msgBairro"></span></label>
                            <input id="txtBairro" name="bairro1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Logradouro <span style="color:red; font-size:9pt" id="msgLogradouro"></span></label>
                            <input id="txtLogr" name="logradouro1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Número <span style="color:red; font-size:9pt" id="msgNumero"></span></label>
                            <input id="txtNumer" name="numero1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">Complemento <span style="color:red; font-size:9pt" id="msgNumero"></span></label>
                            <input id="txtNumer" name="complemento1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Cidade <span style="color:red; font-size:9pt" id="msgCidade"></span></label>
                            <input id="txtCidade" name="cidade1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Estado <span style="color:red; font-size:9pt" id="msgEstado"></span></label>
                            <input id="txtEstado" name="estado1" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">*Assunto |<span style="font-size:9px"> Essa ação não gera compra.</span> <span style="color:red; font-size:9pt" id="msgAssunto"></span></label>
                            <input id="txtAssunto" name="assunto1" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">*Mensagem <span style="color:red; font-size:9pt" id="msgMensag"></span></label>
                            <textarea id="txtMensagen" name="mensagem1" class="form-control u-form-control-lg"></textarea>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn u-btn-black g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" onclick="formSoliciteJa()">Enviar <i class="fa fa-send"></i></button>
                <button type="button" class="btn u-btn-yellow g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Saiba mais!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="emailContato">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-10">Nome <span style="color:red; font-size:9pt" id="msgNome2"></span></label>
                            <input id="txtNome2" name="nome2" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">E-mail <span style="color:red; font-size:9pt" id="msgEmail2"></span></label>
                            <input id="txtEmail2" name="email2" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">Fone <span style="color:red; font-size:9pt" id="msgFone2"></span></label>
                            <input id="txtFone2" name="telefone2" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">Assunto <span style="color:red; font-size:9pt" id="msgAssunto2"></span></label>
                            <input id="txtAssunto2" name="assunto2" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">Mensagem <span style="color:red; font-size:9pt" id="msgMensag2"></span></label>
                            <textarea id="txtMensagen2" name="mensagem2" class="form-control u-form-control-lg"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn u-btn-black g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" onclick="formSaibaMais()">Enviar <i class="fa fa-send"></i></button>
                <button type="button" class="btn u-btn-yellow g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myMdlAtive" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Ativação de Chip

                </h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="frmAtivacao">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-10">*Nome <span style="color:red; font-size:9pt" id="msgNome3"></span></label>
                            <input id="txtNome3" name="nome3" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-3">
                            <label class="col-md-10">*RG <span style="color:red; font-size:9pt" id="msgRG3"></span></label>
                            <input id="txtRG3" name="rg3" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-3">
                            <label class="col-md-10">*CPF <span style="color:red; font-size:9pt" id="msgCPF3"></span></label>
                            <input id="txtCPF3" name="cpf3" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*E-mail <span style="color:red; font-size:9pt" id="msgEmail3"></span></label>
                            <input id="txtEmail3" name="email3" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Fone <span style="color:red; font-size:9pt" id="msgFone3"></span></label>
                            <input id="txtFone3" name="telefone3" class="form-control u-form-control-lg" type="text" />

                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*CEP <span style="color:red; font-size:9pt" id="msgCEP3"></span></label>
                            <div class="input-group">
                                <input id="txtCEP3" name="cep3" class="form-control u-form-control-lg" type="text" placeholder="Preencha com o CEP e click na lupa..." />
                                <button type="button" class="btn btn-primary" onclick="consultaCEP()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Bairro <span style="color:red; font-size:9pt" id="msgBairro3"></span></label>
                            <input id="txtBairro3" name="bairro3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Logradouro <span style="color:red; font-size:9pt" id="msgLogradouro3"></span></label>
                            <input id="txtLogr3" name="logradouro3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Número <span style="color:red; font-size:9pt" id="msgNumero3"></span></label>
                            <input id="txtNumer3" name="numero3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">Complemento <span style="color:red; font-size:9pt" id="msgNumero3"></span></label>
                            <input id="txtCompl3" name="complemento3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Cidade <span style="color:red; font-size:9pt" id="msgCidade3"></span></label>
                            <input id="txtCidade3" name="cidade3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-10">*Estado <span style="color:red; font-size:9pt" id="msgEstado3"></span></label>
                            <input id="txtEstado3" name="estado3" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-10">*Escolha o plano! <span style="color:red; font-size:9pt" id="msgAssunto3"></span></label>
                            <select class="form-control u-form-control-lg" name="planoSelect" id="selectPlano">
                                <option value="Plano Controle 10Gb">Plano Controle 5Gb</option>
                                <option value="Plano Controle 10Gb">Plano Controle 10Gb</option>
                                <option value="Plano Controle 15Gb">Plano Controle 15Gb</option>
                                <option value="Plano Controle 20Gb">Plano Controle 20Gb</option>
                                <option value="Plano Controle 50Gb">Plano Controle 50Gb</option>
                            </select>


                        </div>
                        <div class="col-md-4">
                            <label class="col-md-10">*ICCID <a href="#!" id="linkHelp"><i class="fa fa-question-circle"></i></a><span style="color:red; font-size:9pt" id="msgICCID3"></span></label>
                            <div id="myTooltip" style="" class="div_teste">
                                <div style="margin:5px; padding:5px; width:auto; height:auto">
                                    <h4>Cod. ICCID</h4>
                                    <p style="text-align:justify">
                                        O ICCID é o número que está atrás do seu chip próximo ao código de barras
                                    </p>
                                    <p>
                                        <img src="~/assets/img/Helpchip2.jpg" style="width:250px; height:150px" />
                                    </p>
                                </div>


                            </div>
                            <input id="txtICCID" name="iccid" class="form-control u-form-control-lg" type="text" />
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-10">*Número do Telefone<span style="color:red; font-size:9pt" id="msgCell3"></span></label>
                            <div class="input-group">
                                <input id="txtDDD" name="numDDD" class="form-control u-form-control-lg" type="text" placeholder="DDD" style="width:15px" />
                                <input id="txtCell" name="numCell" class="form-control u-form-control-lg" type="text" placeholder="Nº Cell" style="width:120px" />
                            </div>

                        </div>
                        <div class="col-md-4">
                            <label class="col-md-10">*Tipo do número <span style="color:red; font-size:9pt" id="msgCell3"></span></label>
                            <div class="btn-group justified-content">
                                <label class="u-check">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio" checked="" id="Novo Numero">
                                    <span class="btn btn-md btn-block u-btn-outline-white g-brd-gray-light-v3 g-brd-primary--checked g-color-main g-color-primary--checked g-font-size-default rounded-0 g-py-13">Novo</span>
                                </label>
                                <label class="u-check">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio" id="Portabilidade">
                                    <span class="btn btn-md btn-block u-btn-outline-white g-brd-gray-light-v3 g-brd-primary--checked g-color-main g-color-primary--checked g-font-size-default rounded-0 g-py-13">Portab.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn u-btn-black g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" onclick="formAtivacao()">Enviar <i class="fa fa-send"></i></button>
                <button type="button" class="btn u-btn-yellow g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>

<script>
    $("#linkHelp").hover(
        function () {
            document.getElementById("myTooltip").style.display = 'block';
        },
        // função que remove a classe
        function () {
            document.getElementById("myTooltip").style.display = 'none';
        });

</script>